<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>OTP Email Template</title>

    <style>
       body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.email-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    color: #009688;
    font-size: 24px;
    font-weight: bold;
}

p {
    margin: 10px 0;
}

    </style>
</head>

<body>

    <div class="email-container">
        <p>Hello,</p>

        <p>Your One-Time Password (OTP) is:</p>

        <h2 th:text="${otp}"></h2>

        <p>This OTP is valid for a short period of time. Please use it to verify your identity.</p>

        <p>If you did not request this OTP, please ignore this email.</p>

        <p>Thank you,</p>
        <p>Your Company Name</p>
    </div>

</body>

</html>
